@include css-vars(
  (
    color-base: #272727,
    color-primary: #0c0745,
    color-secondary: #ea413e,
    color-tertiary: #50a3bd,
    color-blue-500: #0d4599,
    color-red-500: #e82b27,
    color-medium-grey: #979593,
    color-light-grey: #e5e5e5,
    color-lighter-grey: #f1f3f5,
    color-white: #ffffff,
  )
);

.theme-dark {
  @include update-var(
    (
      color-base: #dcdcdc,
      color-primary: #eeecfd,
      color-secondary: #ea413e,
      color-tertiary: #50a3bd,
      color-blue-500: #9cbae6,
      color-red-500: #e82b27,
      color-medium-grey: #5c5c5c,
      color-light-grey: #333232,
      color-lighter-grey: #3c3c3c,
      color-white: #000000,
    )
  );
}

/**
* Use only sass vars for functions, mixins, etc
*
* ex: background-color: background-opacity($--color-primary, 0.5);
*/

$--color-base: #272727;
$--color-primary: #0c0745;
$--color-secondary: #ea413e;
$--color-tertiary: #50a3bd;
$--color-blue-500: #0d4599;
$--color-medium-grey: #979593;
$--color-lighter-grey: #f1f3f5;
$--color-white: #fff;
